ion-fab-button {
    width: 150px !important;
    height: 150px !important;
    --box-shadow:none;
}

ion-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
ion-content{
    --ion-background-color:#c9d6df;
}
